<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Dashboard</title>
    <link rel="stylesheet" href="../style/dashboard.css">
</head>

<body>
    <header class="header">

        <h1>Sistema de controle de estoque</h1>
        <p>Gerencie seus produtos com facilidade</p>

    </header>

    <div class="conteudo">

        <div class="card">
            <div class="card-header">
                <h2>Produtos em estoque</h2>

                <a href="cadastro.html">Cadastrar Produto</a>

                <button class="botao-sair">Sair</button>
            </div>


            <div class="meus-produtos">



            </div>

        </div>

    </div>

</body>

</html>