<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Template Electron APP</title>
</head>

<body>
    <div class="login-container">
        <h1>Gerenciador de estoque</h1>

        <label for="email">Email</label>
        <input type="email" id="email">

        <label for="password">Senha</label>
        <input type="password" id="password">

        <button id="submit">Entrar no Sistema</button>


    </div>

    <script src="../js/script.js"></script>
</body>

</html>